rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Tüm koleksiyonlar için okuma ve yazma izni (geliştirme için)
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 